@font-face {
	font-family: 'Supreme-Light';
	src: url('../fonts/Supreme-Light.woff2') format('woff2'), url('../fonts/Supreme-Light.woff') format('woff'),
		url('../fonts/Supreme-Light.ttf') format('truetype');
	font-weight: 300;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Supreme-Bold';
	src: url('../fonts/Supreme-Bold.woff2') format('woff2'), url('../fonts/Supreme-Bold.woff') format('woff'),
		url('../fonts/Supreme-Bold.ttf') format('truetype');
	font-weight: 700;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Supreme-ExtraboldItalic';
	src: url('../fonts/Supreme-ExtraboldItalic.woff2') format('woff2'),
		url('../fonts/Supreme-ExtraboldItalic.woff') format('woff'),
		url('../fonts/Supreme-ExtraboldItalic.ttf') format('truetype');
	font-weight: 800;
	font-display: swap;
	font-style: italic;
}
