@import url('./assets/css/supreme.css');

:root {
	--background-light: #fff5ee;
	--background-dark: #242424;
	--font-title: 'Supreme-Bold';
	--font-title-italic: 'Supreme-ExtraboldItalic';
	--font-body: 'Supreme-Light';

	font-family: var(--font-body), Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: var(--background-dark);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

#app {
	max-width: 45rem;
	width: 45rem;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2rem;
	margin-bottom: 4rem;
}

body {
	display: flex;
	min-height: 100vh;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
	font-family: var(--font-title-italic);
}
h2 {
	font-size: 2.5em;
	line-height: 1.1;
	font-family: var(--font-title);
}
p {
	font-size: 1.2em;
	line-height: 1.5;
	font-family: var(--font-body);
}

a {
	color: #2dff8f;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
}

a:hover {
	color: #0ec3ea !important;
}

a:visited {
	color: #2dff8f;
}
